:root {
  --bg: white;
  --border: lightgrey;
}

html {
  scroll-padding-top: 90px;
}

body {
  padding: 0 2rem;
}

.center {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

/* Header styling */
.header-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 1%;
  border-bottom: 1px solid var(--border);
  position: sticky;
  top: 0;
  background-color: var(--bg);
}

.title {
  margin-top: 10px;
  margin-bottom: 10px;
}

.subtitle {
  margin: 0%;
}

.header-nav {
  display: flex;
  flex-direction: row;
  flex-grow: 2;
  justify-content: space-around;
}

.nav-link {
  color: mediumblue;
  text-decoration: none;
}

.nav-link:hover {
  color: cornflowerblue;
}

nav-link:visited {
  color: none;
}

/* Table styling */
.tg {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  border: 1px black solid;
  background-color: lightgrey;
}

td {
  border: 1px black solid;
}

.tg .tg-0lax {
  text-align: left;
  vertical-align: top;
  padding: 1%;
}

/* Visualization styling */
#genre-bars iframe {
  width: 1210px;
  height: 900px;
  /*aspect-ratio: 4/3; */
  border-style: none;
}

/* linechart title and controls */
.line-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 12px;
  max-width: 100%;
  border-radius: 12px;
}

label {
  font-size: 16px;
}

select {
  background: var(--bg);
  border: 1px solid var(--border);
  padding: 4px 5px;
  border-radius: 10px;
}

/* line chart tooltip */
#tooltip {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  background: var(--bg);
  border: 1px solid var(--border);
  padding: 8px 10px;
  border-radius: 8px;
  font-size: 13px;
  opacity: 0;
}

/* chart container */
#chart {
  margin: 0 auto;
  padding: 6px;
}

.note {
  text-align: center;
}

#treemap iframe {
  width: 1000px;
  height: 666px;
}

#sankey iframe {
  width: 1000px;
  height: 500px;
}

#pub-bars {
  display: flex;
  flex-direction: row;
  max-width: 100vw;
  align-items: center;
}

#pub-bars img {
  flex-shrink: 2;
  height: auto;
  flex-basis: auto;
  max-width: 32vw;  
}